.btn_agergarGasto {
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    top: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
}
.btn_agergarGasto>span {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* .colorfondo_general {
    background-color: #E3E8EB;
    display: flex;
    flex-direction: column;
    height: 100vh;
} */
.colorfondo_general {
    background-color: #dbe7f6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* .colorfondo_azul {
    background-color: #2861CA;
} */
.colorfondo_azul {
    background-color: #dbe7f6;
}
.cabacera {
    color: #000;
    padding: 10px;
    font-size: 10px;
    height: 200px;
}
.cabacera > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cabacera > div > select {
    width: 20%;
    margin: 5px;
    /* box shadow */
    box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -moz-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
}
.cabacera h1 {
    font-size: 20px;
}
.box_seccionPrincipal {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    /* box shadow */
    box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -moz-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
}
.box_seccionPrincipal .gastoSemanal {
    color: #2861CA;
    font-size: 40px;
}
.descripcion_gasto {
    font-size: 12px;
    color: gray;
}
.box_gastoSemanal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.box_gastosOtros {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box_gastosOtros > div {
    width: 50%;
}
.box_otroGasto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.otroGasto {
    color: #000;
    font-size: 30px;
}
.borde_separador {
    border-top: 1px solid #e6e6e6;
    width: 100%;
}
.space_20 {
    height: 20px;
}



.chart-container {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font: 10px sans-serif;
}
text {
    color: #000;
}
.row_comparativo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 95%;
}
.subtexto_3 {
    font-size: 12px;
    color: #000;
}
.flex_centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.total_width {
    width: 100%;
}
.grafico_barra {
    height: 20px;
    color:#000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.7);
    border-radius: 10px; /* Opcional: para bordes redondeados */
}
.row_comparativo_gastos {
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    margin-top: 160px;
}
.mc_2 {
    margin: 0.5rem;
}
.sm_b {margin-bottom: 0rem;}
.sm_t {margin-top: 0rem;}

.row_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row_menu > button {
    width: 50%;
}
.btn_menu {
    background-color: #fff;
    border: 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.btn_menu.activo {
    color: #2861CA;
}
#response_save {
    /* display: none; Oculta el mensaje al inicio correctamente */
    font-weight: 700;
    font-size: 15px;
    transition: all opacity 1s ease-in-out;
}
.success {
    color: green;
}
.error {
    color: red;
}
.incomplete {
    color: #ffaa00;
}

.table_categoria, 
.table_subcategoria, 
.table_descripcion {
    font-size: 12px;
}
.table_subcategoria, 
.table_descripcion {
    font-size: 13px;
}
.table_categoria, 
.table_subcategoria {
    font-weight: 600;
}
td.descripcio_gasto span {
    display: block;
}

/* PROGRESS BAR */

progress {
	width: 100%;
	margin: 3% auto;
	display: block;
	-webkit-appearance: none;
	border: none;
}

progress::-webkit-progress-bar {
	background: RGB(236,236,236);
	border-radius: 50px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	background: rgb(241,130,15);	

}

.barraGastos {
    float:left;
    width:45%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcionGasto {
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.1vw;
    float:left;
    width:35%;
    height:100%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.valorPlanificado {
    float:left;
    width:18%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcionGasto .categoriaGasto {
    color: #000;
    font-size: 3.5em;
    font-weight: 700;
}
.descripcionGasto .totalPlanificado {
    font-size: 3em;
    color: #000;
}
.contGraficoRanking {
    text-align: center;
    color: #2861CA;
    background-color: white;
    width:100%;
    /* box shadow */
    box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
    -moz-box-shadow: 0px 0px 8px 0px rgba(13,52, 107, 0.19);
}

.contFilaGrafico{
    width:100%;
    height: 50px;
    display: block;
    margin: 4% 0;
    padding: 10px;
}
.contentDetalleGastos {
    margin-top: 100px;
    padding: 10px;
    padding-top: 20px;
}
/* icono de tacho de basura */
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.icon-button:hover {
    background-color: #0056b3;
}

.icon-button .icon_trush_svg {
    width: 15px;
    height: 15px;
    fill: white;
    margin-right: 5px;
}
